.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
classes
.gradle

# other
eclipse
run
gradle.build.forge
gradle.build.ori

/eclipse

logs
libs2
/ElectroblobsWizardry-4.3.8.jar
/libs/IronBackpacks-1.12.2-3.0.8-12.jar
/libs/SpartanWeaponry-1.12.2-1.4.1.jar
/IronBackpacks-dev-1.12.zip
/IronBackpacks-dev-1.12.jar
